*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root {
    --primary-color: #bc9667;
    --secondary-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    --box-shadow: 2px 2px 10px 14px rgb(14 55 54 / 15%);
}
img{
    width: 100%; 
}
body{
    color: var(--text-color);
}